<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/_layouts/icon.png">
	</head>
	<body>
		<div class="container">
    
    {{ content }}
		
    </div><!-- /.container -->
		<footer>
			<ul>
			<li><a href="mailto:dh2674@nyu.edu">Email me</a></li>
			<li><a href="https://www.linkedin.com/in/danxuan-han-779057a5/">Linkedin</a></li>
			</ul>
		</footer>
	</body>
</html>
